<template>
	<button type="button" class="btn btn-primary top-space" data-toggle="modal" data-target="#addBook">
	  			Add book
	</button>	
</template>

<script>
export default {

}	
</script>

<style>
	.top-space{
		margin-top: 20px;
        margin-bottom: 20px;
	}
</style>

