<template>
  <b-container fluid>
    <b-row>
      <!-- Filter -->
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <!-- Pagination -->
      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      @filtered="onFiltered"
    >
      <template v-slot:cell(options)="data">
        <b-button @click="edit(data.item, data.index, $event.target)" variant="outline-info" class="mb-1">
          <b-icon icon="pencil" variant="success"></b-icon>
        </b-button>
        <b-button @click="del(data.item, data.index, $event.target)" variant="outline-info" class="mb-1">
          <b-icon-trash-fill></b-icon-trash-fill>
        </b-button>
        <b-button @click="assign(data.item, data.index, $event.target)" variant="outline-info" class="mb-1">
          <b-icon-person></b-icon-person>
        </b-button>
      </template>
    </b-table>
    <!-- Edit modal -->
    <b-modal :id="editModal.id" :title="editModal.title" ok-only hide-footer >
      <form @submit.prevent="editBook">
          <div class="form-group">
              <label>Book</label>
              <input type="hidden" class="form-control" placeholder="" v-model="id">
              <input type="text" class="form-control" placeholder="" v-model="name">
          </div>
          <div class="form-group">
              <label>Author</label>
              <input type="text" class="form-control" placeholder=""  v-model="author">
          </div>
          <div class="form-group">
              <label>Category</label>
              <div>
                  <vue-bootstrap-typeahead
                      class="mb-4"
                      v-model="query"
                      :data="categories"
                      :serializer="item => item.name"
                      @hit="category = $event"
                      placeholder=""
                  />
              </div>
          </div>
          <div class="form-group">
              <label>Published date</label>
              <input type="text" class="form-control" placeholder=""  v-model="published_date">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <template v-slot:modal-footer>
        <div class="w-100">

        </div>
      </template>
    </b-modal>
    <!-- Delete modal -->
    <b-modal :id="deleteModal.id" :title="deleteModal.title" ok-only hide-footer>
      <form @submit.prevent="deleteBook">
          <p>Are you sure you want to delete this book?</p>
          <input type="hidden" class="form-control" placeholder="" v-model="id">
          <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
      <template v-slot:modal-footer>
        <div class="w-100">

        </div>
      </template>
    </b-modal>
    <!-- assign to user modal -->
    <b-modal :id="assignModal.id" :title="assignModal.title" ok-only hide-footer>
      <form @submit.prevent="assignBook">
          <div class="form-group">
            <b-form-select v-model="selected" :options="options"></b-form-select>
          </div>
          <div class="form-group">
              <label>User name:</label>
              <input type="text" class="form-control" placeholder=""  v-model="user">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <template v-slot:modal-footer>
        <div class="w-100">
        </div>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        items: [
          
        ],
        fields: [
          { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
          { key: 'author', label: 'Author', sortable: true, sortDirection: 'desc' },
          { key: 'category', label: 'Category', sortable: true, sortDirection: 'desc' },
          { key: 'published_date', label: 'Published date', sortable: true, sortDirection: 'desc' },
          { key: 'options', label: 'Options' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        filter: null,
        filterOn: [],
        editModal: {
          id: 'edit-modal',
          title: '',
          content: ''
        },
        deleteModal: {
          id: 'delete-modal',
          title: '',
          content: ''
        },
        assignModal: {
          id: 'assign-modal',
          title: '',
          content: ''
        },
        id: null,
        name: null,
        author: null,
        category: null,
        published_date: null,
        query: '',
        categories: [],
        selected: null,
        options: [
          { value: 'available', text: 'Available' },
          { value: 'not_available', text: 'Not available' }
        ],
        user: null
      }
    },
    mounted() {
      axios.get('books').then(response => (this.items = response.data))
      axios.get('categories')
                .then((res) => {
                    this.categories = res.data
                })
    },
    computed: {
      rows() {
          return this.items.length
      }
    },
    methods: {
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      edit(item, index, button) {
        this.editModal.title = 'Edit book'
        this.editModal.content = item
        this.id = item.id
        this.name = item.name
        this.author = item.author
        this.query = item.category
        this.published_date = item.published_date
        this.$root.$emit('bv::show::modal', this.editModal.id, button)
      },
      del(item, index, button) {
        this.deleteModal.title = 'Delete book'
        this.deleteModal.content = item
        this.id = item.id
        this.$root.$emit('bv::show::modal', this.deleteModal.id, button)
      },
      assign(item, index, button) {
        this.assignModal.title = 'Availability'
        this.assignModal.content = item
        this.id = item.id
        this.user = item.user
        this.selected = 'not_available'
        if (item.user == '') {
          this.selected = 'available'
        }
        this.$root.$emit('bv::show::modal', this.assignModal.id, button)
      },
      editBook: function() {
        axios.put('books/update/',{
            id: this.id,
            name: this.name,
            author: this.author,
            category: this.category.id,
            published_date: this.published_date
        })
        .then(function(res){
            $('#edit-modal').modal('hide')
        })
        .catch(function(err){
            console.log(err)
        });
      },
      deleteBook: function() {
        axios.delete('books/destroy/'+this.id,{
            id: this.id,
        })
        .then(function(res){
            $('#edit-modal').modal('hide')
        })
        .catch(function(err){
            console.log(err)
        });
      },
      assignBook: function() {
        axios.put('books/update/',{
            id: this.id,
            user: this.user,
            available: this.selected
        })
        .then(function(res){
            $('#edit-modal').modal('hide')
        })
        .catch(function(err){
            console.log(err)
        });
      }
    }
  }
</script>