<template>
    <div class="modal fade" id="addCategory" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveCategory">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" class="form-control" placeholder="Category name" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Description"  v-model="description">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: null,
                description: null
            }
        },
        methods: {
           saveCategory: function() {
               axios.post('categories',{
					name: this.name,
					description: this.description
				})
				.then(function(res){
					$('#addCategory').modal('hide')
				})
				.catch(function(err){
					console.log(err)
				});
           }
        }
    }
</script>