<template>
    <div class="modal fade" id="addBook" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveBook">
                    <div class="form-group">
                        <label>Book</label>
                        <input type="text" class="form-control" placeholder="" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" placeholder=""  v-model="author">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <div>
                            <vue-bootstrap-typeahead
                                class="mb-4"
                                v-model="query"
                                :data="categories"
                                :serializer="item => item.name"
                                @hit="category = $event"
                                placeholder=""
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Published date</label>
                        <input type="text" class="form-control" placeholder=""  v-model="published_date">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
    import EventBus from '../event-bus';
    export default {
        data() {
            return {
                name: null,
                author: null,
                category: null,
                published_date: null,
                query: '',
                categories: []
            }
        },
        mounted:  function() {
                axios.get('categories')
                .then((res) => {
                    this.categories = res.data
                })
        },
        methods: {
            saveBook: function() {
                axios.post('books',{
                    name: this.name,
                    author: this.author,
                    category: this.category.id,
                    published_date: this.published_date
                })
                .then(function(res){
                    $('#addBook').modal('hide')
                    EventBus.$emit('book-added', res.data.book)
                })
                .catch(function(err){
                    console.log(err)
                });
            }
        }
    }
</script>